.header {
  background: #2B303B;
  height: 7rem;
  padding: 2rem 3rem;
}

.title {
  color: #C0C5CE;
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
}
