.container {
  text-align: center;
}

.content {
  display: grid;
  grid-template: repeat(2, 14rem) / repeat(3, 1fr);
  grid-gap: 0.2rem;
}

.content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffeead;
}

.content > div:nth-child(1n) {
  background: #96ceb4;
}

.content > div:nth-child(3n) {
  background: #4994bd;
}

.content > div:nth-child(2n) {
  background: #ff6f69;
}

.content > div:nth-child(4n) {
  background: #4994bd;
}
